/* Color Legend:

- Blue: #39ACDC
- Red: #EC3646
- Green: #57B93E
- Text and Input Color: #333
- Placeholder Color: #AAA
- Border Color: #CCC
- Body Background Color: #EEE

Fonts:

- Family: Arial
- Main title: 24px
- Input Label: 12px
- "My Notes" header: 18px - All buttons: 14px

Page is responsive:

- Max size is 1024 pixels
- Minimum size is 320 pixels width */

@media (min-width: 320px) and (max-width: 1024px) {

    .root {
        background-color: #eee;
    }
}

.container {
    background-color: #eee;
    font-family: Arial;
}



.main-title {
    font-size: 24px;
    margin: 10px;
    padding: 20px;
}